@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css');

html {
  background-color: #022C43;
}

body {
  font-family: 'Roboto Mono', monospace;
  margin-top : 5%;
}

.full-width {
  width: 100%;
}